PyQuickRun/vs2022/.vs/PyQuickRun/DesignTimeBuild/.dtbcache.v2
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db
