PyQuickRun/vs2022/.vs/PyQuickRun/DesignTimeBuild/.dtbcache.v2
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/SemanticSymbols.db
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
PyQuickRun/vs2022/.vs/PyQuickRun/CopilotIndices/17.13.444.19527/CodeChunks.db
PyQuickBox/Go/PyQuickBox.app/Contents/Info.plist
PyQuickBox/Go/PyQuickBox.app/Contents/MacOS/pyquickbox
PyQuickBox/Go/PyQuickBox.app/Contents/Resources/icon.icns
PyQuickBox/Go/.DS_Store
.DS_Store
PyQuickBox/.DS_Store
PyQuickBox/.DS_Store
PyQuickBox/Go/main.go.backup
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/refint/PyQuickRun.dll
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/ref/PyQuickRun.dll
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun_MarkupCompile.i.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun_MarkupCompile.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun_Content.g.i.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun_Content.g.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.sourcelink.json
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.pdb
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.genruntimeconfig.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.GeneratedMSBuildEditorConfig.editorconfig
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.g.resources
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.dll
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.csproj.FileListAbsolute.txt
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.csproj.CoreCompileInputs.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.assets.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.AssemblyInfoInputs.cache
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/PyQuickRun.AssemblyInfo.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/MainWindow.g.i.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/MainWindow.g.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/MainWindow.baml
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/apphost.exe
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/App.g.i.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/App.g.cs
PyQuickRun/vs2022/PyQuickRun/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.runtimeconfig.json
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.pdb
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.exe
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.dll.config
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.dll
PyQuickRun/vs2022/PyQuickRun/bin/Release/PyQuickRun/PyQuickRun.deps.json
PyQuickBox/Go/.DS_Store
PyQuickBox/Go/PyQuickBox.exe
/PyQuickBox/xcode/PyQuickBox/.build
/PyQuickBox/Swift/Source/.build
PyQuickBox/.DS_Store
/PyQuickRun/vs2022/PyQuickRun/obj/Debug
PyQuickBox/.DS_Store
